$base-color: #af77bd;
$secondry-color: #ccc3ce;

.header-btn {
    margin: 1em 2em;
    background-color: $secondry-color;
    color: $base-color;

    &:hover {
        background-color: $base-color;
    }
}

.header-btn-active {
    margin: 1em 2em;
    background-color: $base-color;
    color: $secondry-color;

    &:hover {
        background-color: $secondry-color;
    }

}