<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container justify-content-center">
        <ul class="nav ">
            <li class="nav-item">
                <button (click)="navToPhotos()" [ngClass]="photosActive?'header-btn-active':'header-btn'"
                    mat-stroked-button >Photos</button>
            </li>
            <li class="nav-item">
                <button (click)="navToFavs()" [ngClass]="!photosActive?'header-btn-active':'header-btn'"
                    mat-stroked-button >Favorites</button>
            </li>
        </ul>
    </div>
</nav>